.navbar {
    background-color:gray;
    color: #fff;
    
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid whitesmoke;
    margin: 0 auto;
    background-color: black;
    padding: 10px 18px;
  }
  .left_container{
    display: flex;
  }
  .nav-item{
    margin:0px 3px;
    font-size: small;
    font-weight: 500;
    text-decoration: none;
    color: rgb(69,69,69);
    transition: 0.3s;
}
  
  
  .logo img{
    width: 200px;
    height: 60px;
    border-radius: 10px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 35px;
    font-size: 17px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
  }

  .nav-link{
    padding: 5px 10px;
    border:solid 1px blue;
    border-radius:3px;
    font-size: 15px;
    background-color:rgb(2, 56, 172);
    cursor:pointer;
}
.nav-link:hover{
    background-color: rgb(164, 164, 240);
}

.dropdown-content{
  background-color: white;
  position: absolute;
  border-radius: 10px;
  padding-top: 30px;
  margin-top: 10px;
  margin-left: 50px;
  
}

.dropdown-content li{
  color: black;
  list-style: none;
  margin-bottom: 20px;
}

.dropdown-content a{
  color: black;
}
.dropbtn{
  background-color: black;
  height: 30px;
  margin: auto;
  padding:0 ;
  text-align: center;
  outline: none;
  border: 1px solid white;
  border-radius: 2px;
  width: 120px;
  font-size: 16px;
}