.bookslider{
    display: flex;
    justify-content: center;
    margin: 10px;
    
}
.slider{
    width: 100%;

}
.sliderHeading{
    height: 50px;
    padding-left: 15px;
    border-top-left-radius: 10px;
    background-image: linear-gradient(to right, rgb(2, 56, 172) , white);
    
}
.sliderHeading a{
    text-decoration: none;
    font-size: 30px;
    color: white;
    
}
.sliderContenar{
    display: flex;
    padding-top: 20px;

    
}
.outSlider{
    
    height: 390px;
}
.more{
    position: relative;
}
 .lnk{
    position: absolute;
    right: 10px;

}